*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: rgb(45, 136, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: brown;
}
textarea{
    width: 600px;
    height: 250px;
    background: white;
    color: red;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;

}
textarea::placeholder{
    font-size: 16px;
    color: rgb(57, 52, 52);
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: rgb(0, 255, 13);
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1;
    color: black;
    background: rgb(76, 152, 129);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px ;
}